@import "./variables";
@import "./animation";
@import "./sidebar-wrapper";
@import "./tag";
body {
    font-size: .9rem;
}


/*--------------------page-wrapper----------------------*/

.page-wrapper {
    height: 100vh;
    .page-content {
        display: inline-block;
        width: 100%;
        transition: padding-left .3s ease;
        overflow-x: hidden;
        .topnavbar {
            z-index: 998 !important;
            position: fixed !important;
            height: 40px;
            width: 100%;
            background-color: #fff;
            .topnavbar-icon {
                padding-top: 4px;
                height: 32px;
                box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
                // z-index: 999;
                .fa-bars {
                    font-size: 24px;
                    color: #646464 !important;
                }
            }
        }
        >.container-fluid {
            padding-top: 0px !important;
        }
    }
    &.toggled {
        .sidebar-wrapper {
            left: 0px
        }
        .page-content {
            @media screen and (min-width: 768px) {
                padding-left: $sidebar-width;
            }
            .overlay {
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
        &.pinned {
            .page-content {
                @media screen and (max-width: 768px) {
                    padding-left: 80px;
                }
            }
            .overlay {
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
        }
    }
    &.pinned:not(.sidebar-hovered) {
        .sidebar-wrapper {
            width: $sidebar-pinned-width;
            .sidebar-header {
                padding: 10px;
                .user-pic {
                    margin: 0 auto;
                    width: 50px;
                    float: none;
                    img {
                        margin: auto;
                    }
                }
            }
            .sidebar-header .user-info,
            .sidebar-menu .header-menu,
            .sidebar-menu .sidebar-submenu,
            .sidebar-menu ul>li>a>span,
            .sidebar-menu ul>li>a::after,
            .sidebar-footer>div:not(.pinned-footer) {
                display: none !important;
            }
            .sidebar-footer>div.pinned-footer {
                display: block;
            }
        }
    }
    .mCSB-scrollTools {
        width: 6px;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 0px;
    }
    .title {
        padding-top: 50px;
        .form-group {
            margin-bottom: 0px !important;
            padding-bottom: 0px;
            .title-content {
                text-align: center;
            }
        }
    }
    .main-content {
        .btn-add-data {
            padding: 3px 6px;
            width: 60px;
            font-size: 12px;
            vertical-align: middle;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
        #loading {
            padding-left: 280px;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            z-index: 50;
            background: rgba(255, 255, 255, 0.7);
        }
        .overlay {
            text-align: center;
            display: block;
            position: absolute;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
            transform: -webkit-translate(-50%, -50%);
            transform: -moz-translate(-50%, -50%);
            transform: -ms-translate(-50%, -50%);
            color: #1f222b;
            z-index: 9999;
            background: rgba(255, 255, 255, 0.7);
        }
        .fa-5x {
            font-size: 2em;
        }
    }
}


/*------------------------------Modal-------------------------------------*/

.modal {
    .bootstrap-tagsinput {
        width: 100% !important;
    }
    .tag {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #2C76B6;
    }
}


/*--------------------Custom Datatables---------------------------------------*/

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.table {
    width: 100% !important;
    td {
        vertical-align: middle;
        .btn {
            padding: 3px 4px;
            margin-left: 6px;
        }
    }
}


/*--------------------border-radius-------------------------*/

.border-radius-on {
    .sidebar-header .user-pic {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    .badge {
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .sidebar-menu ul li i {
        border-radius: $border-radius;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        -ms-border-radius: $border-radius;
        -o-border-radius: $border-radius;
    }
    .sidebar-footer .dropdown-menu {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        .notification-content i,
        .message-content .pic {
            border-radius: $border-radius;
            -webkit-border-radius: $border-radius;
            -moz-border-radius: $border-radius;
            -ms-border-radius: $border-radius;
            -o-border-radius: $border-radius;
        }
    }
}